<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content='This is a proof of concept Static JSON GeoIP API using Netlify’s redirect & rewrite rules.'>
    <meta name='author' content='mirshko <jeff@reiner.io>'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <block name='title'>
      <title>Static JSON GeoIP API</title>
    </block>
    <link rel='stylesheet' href='css/index.css'>
  </head>
  <body>
    <include src='_github-corner.html'/>

    <main id='{{ pageId }}'>
      <block name='content'></block>
    </main>

    <block name='javascript'>
      <script src='js/main.js' defer></script>
    </block>
  </body>
</html>
