body {
  padding: 8px 32px 48px;
  max-width: 800px;
  color: #151513;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

code {
  background-color: rgba(21, 21, 19, 0.05);
  padding: 0 2px;
}
